.container {
      display: flex;
      justify-content: center; 
      align-items: center;     
      min-height: 300px;       
      background-color: #f0f0f0;
      gap: 20px;               
      padding: 20px;
    }

    
    .box {
      width: 100px;
      height: 100px;
      background-color: #0b74da;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      border-radius: 8px;
    }